In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
df = pd.read_csv('../data/foodcleaned.csv')
print(df.shape)
df.head(10)

(2853, 10)

,Diet_type,Recipe_name,Cuisine_type,protein,carbs,fat,calories,fat_con,protein_con,carbs_con
0,paleo,Bone Broth From 'Nom Nom Paleo',american,5.22,1.29,3.20,54.84,Low,Low,Low
1,paleo,Strawberry Guacamole recipes,mexican,9.62,75.78,59.89,880.61,Moderate,Low,Moderate
2,paleo,"Asian Cauliflower Fried ""Rice"" From 'Nom Nom P...",chinese,39.84,54.08,71.55,1019.63,High,Moderate,Moderate
3,paleo,Paleo Shrimp-Stuffed Mushrooms recipes,mediterranean,68.62,34.15,42.44,793.04,Moderate,High,Moderate
4,paleo,Autoimmune Paleo Pesto,italian,4.25,14.15,72.90,729.70,High,Low,Low
5,paleo,Paleo Collard Burrito,mexican,44.62,28.66,78.46,999.26,High,High,Low
6,paleo,Paleo Chawanmushi (Savory Egg Custard) recipes,american,61.43,13.29,24.60,520.28,Low,High,Low
7,paleo,Leftover Turkey Sandwich recipes,american,54.09,34.97,14.10,483.14,Low,High,Moderate
8,paleo,Paleo Pumpkin Waffles,american,51.24,89.63,78.38,1268.90,High,High,High
9,paleo,Turkey Club Sandwich,american,46.92,39.94,19.60,523.84,Low,High,Moderate

In [17]:
len(df['Recipe_name'].unique())

2636

In [417]:
df['Cuisine_type'].unique()

array(['american', 'mexican', 'chinese', 'mediterranean', 'italian',
       'french', 'south east asian', 'nordic', 'eastern europe',
       'british', 'caribbean', 'south american', 'middle eastern',
       'asian', 'japanese', 'central europe', 'world', 'indian', 'kosher'],
      dtype=object)

In [652]:
df['Cuisine_type'].value_counts()

american            871
mediterranean       716
world               245
italian             227
french              205
british              84
mexican              77
nordic               69
chinese              69
south east asian     58
south american       57
asian                50
middle eastern       39
indian               31
japanese             20
eastern europe       15
caribbean            10
central europe        9
kosher                1
Name: Cuisine_type, dtype: int64

In [549]:
#main function
def naives_bayes(nc, n, p , m=6):
    pav = (nc+m*p)/(n+m)
    return pav


#define N for naives_bayes
def nb_n(df, column, category):
    return df[df[column] == category].shape[0]


#define P for naives_bayes
def nb_p(df, cuisine):
    #dfx = df[df['Cuisine_type'] == cuisine].count()/df['Cuisine_type'].count()
    
    x = df[df['Cuisine_type'] == cuisine].shape[0]
    y = df['Cuisine_type'].count()
    return x/y


#definte NC for naives_bayes
def nb_nc(df, cuisine, category, column):
    #dfx = df[df['Cuisine_type'] == cuisine]
    #res = dfx[dfx[column] == category].count()/dfx['Cuisine_type'].count()
    
    dfz = df[df['Cuisine_type'] == cuisine]
    x = dfz[dfz[column] == category].shape[0]
    y = dfz['Cuisine_type'].count()
    return x/y

In [563]:
#model dictionary: order of values is protein content, carb content, fat content
nb_pcf_cuisine = {}
category = ['Low','Moderate','High']
content = ['protein_con','carbs_con','fat_con']

'\nCHECKLIST\n\nCHANGE BOTH ILOC  VALUES\nname for dict\ngo low medium high\nprotein carb fat\n'

In [606]:
#df['Cuisine_type'].unique()[18]

'kosher'

In [607]:
'''
res = []
for j in content:
    for i in category:
        n = nb_n(df,j, i)
        p = nb_p(df,df['Cuisine_type'].unique()[18])
        nc = nb_nc(df, df['Cuisine_type'].unique()[18], i, j)
        nb = naives_bayes(nc, n, p)
        res.append(nb)

#0-2 protein, 3-5 carbs, 6-8 fat
#Protein Carbs Fat
nb_pcf_cuisine['kosher|Protein Low'] = res[0]
nb_pcf_cuisine['kosher|Protein Moderate'] = res[1]
nb_pcf_cuisine['kosher|Protein High'] = res[2]
nb_pcf_cuisine['kosher|Carbs Low'] = res[3]
nb_pcf_cuisine['kosher|Carbs Moderate'] = res[4]
nb_pcf_cuisine['kosher|Carbs High'] = res[5]
nb_pcf_cuisine['kosher|Fat Low'] = res[6]
nb_pcf_cuisine['kosher|Fat Moderate'] = res[7]
nb_pcf_cuisine['kosher|Fat High'] = res[8]
'''

In [610]:
#dfmodel = pd.DataFrame.from_dict(data=nb_pcf_cuisine, orient='index')
#dfmodel.to_csv('../data/cuisinemodel.csv', header=False)
#dfmodel = dfmodel.reset_index().rename(columns={'index':'content', 0:'p'})

In [611]:
dfmodel

                       content         p
0         american|Protein Low  0.002642
1    american|Protein Moderate  0.001947
2        american|Protein High  0.002335
3           american|Carbs Low  0.001959
4      american|Carbs Moderate  0.002041
..                         ...       ...
166      kosher|Carbs Moderate  0.000002
167          kosher|Carbs High  0.000003
168             kosher|Fat Low  0.000002
169        kosher|Fat Moderate  0.000003
170            kosher|Fat High  0.001135

[171 rows x 2 columns]

In [641]:
testdf = df.sample(n=15, random_state=42)
testdf

,Diet_type,Recipe_name,Cuisine_type,protein,carbs,fat,calories,fat_con,protein_con,carbs_con
2786,dash,Sazerac,world,1.06,7.23,0.95,41.71,Low,Low,Low
1741,mediterranean,Mediterranean Scramble,mediterranean,16.06,3.49,26.79,319.31,Low,Moderate,Low
772,vegan,Hearty White Bean and Spinach Soup with Rosema...,french,38.21,121.50,56.68,1148.96,Moderate,Moderate,High
1743,mediterranean,Mediterranean Herbs,mediterranean,0.78,4.29,0.58,25.50,Low,Low,Low
387,paleo,Paleo Jambalaya recipes,american,127.08,67.44,41.11,1148.07,Moderate,High,Moderate
407,paleo,PALEO HASH BROWNS recipes,south american,4.78,114.92,36.36,806.04,Moderate,Low,High
2288,dash,Endive with sweet cheese,italian,24.70,75.98,60.12,943.80,High,Moderate,Moderate
1116,keto,Keto Chia Pudding with Almond & Cinnamon,british,11.77,19.94,27.13,371.01,Low,Moderate,Low
2442,dash,Sweet-and-Sour Almond Chicken,chinese,22.41,30.71,7.18,277.10,Low,Moderate,Moderate
2749,dash,Cherry Tomato and Watermelon Salad,south american,11.14,70.22,58.18,849.06,Moderate,Moderate,Moderate
2591,dash,Pasta Pomodoro,italian,26.90,134.36,88.30,1439.74,High,Moderate,High
1694,mediterranean,5 Ingredient Mediterranean Dip recipes,mediterranean,22.95,13.03,52.44,615.88,Moderate,Moderate,Low
1001,keto,Keto Low Carb Tortillas,mexican,22.27,20.22,35.77,491.89,Moderate,Moderate,Low
1361,keto,"Creamy Avocado Zoodles with Bacon {Keto, Low C...",american,22.38,35.80,75.69,913.93,High,Moderate,Moderate
1543,mediterranean,Mediterranean Pressed Picnic Sandwich,south east asian,124.61,62.55,91.28,1570.16,High,High,Moderate

In [1]:
'''
true
true
true
true
true
false
true
false
false
false
true
true
false
true
false
'''
9/15

0.6

In [649]:
#fat protein carbs
HHM = {}

In [650]:
#Low Moderate High
for i in df['Cuisine_type'].unique():
    fat = dfmodel[dfmodel['content'] == '{}|Fat High'.format(i)]['p'].to_numpy()[0]
    protein = dfmodel.loc[dfmodel['content'] == '{}|Protein High'.format(i)].p.to_numpy()[0]
    carb = dfmodel[dfmodel['content'] == '{}|Carbs Moderate'.format(i)]['p'].to_numpy()[0]
    p = protein*carb*fat
    HHM[i] = p

In [617]:
#Low for all 3 categories
pd.DataFrame.from_dict(data=LLL, orient='index').sort_values(by=0, ascending=False).head()

                          0
american       9.820144e-09
mediterranean  5.384140e-09
world          2.965188e-09
french         4.033874e-10
italian        3.539179e-10

In [620]:
#Low Moderate Low
pd.DataFrame.from_dict(data=LML, orient='index').sort_values(by=0, ascending=False).head()

                          0
american       7.237287e-09
mediterranean  4.355078e-09
world          7.036299e-10
french         3.993933e-10
italian        3.424548e-10

In [623]:
#Moderate Moderate High
pd.DataFrame.from_dict(data=MMH, orient='index').sort_values(by=0, ascending=False).head()

                          0
american       1.584674e-08
mediterranean  1.037065e-08
italian        8.377424e-10
french         6.476113e-10
world          2.346294e-10

In [626]:
#Moderate High Moderate
pd.DataFrame.from_dict(data=MHM, orient='index').sort_values(by=0, ascending=False).head()

                          0
american       1.237945e-08
mediterranean  8.314257e-09
italian        7.901853e-10
french         4.741276e-10
asian          3.140711e-10

In [629]:
#Moderate Low High
pd.DataFrame.from_dict(data=MLH, orient='index').sort_values(by=0, ascending=False).head()

                          0
american       2.150216e-08
mediterranean  1.282114e-08
world          9.887590e-10
italian        8.657844e-10
french         6.540875e-10

In [634]:
#High Moderate Moderate
pd.DataFrame.from_dict(data=HMM, orient='index').sort_values(by=0, ascending=False).head()

                          0
american       9.694424e-09
mediterranean  6.221569e-09
italian        5.959794e-10
french         5.555197e-10
mexican        1.869867e-10

In [637]:
#Low Moderate Moderate
pd.DataFrame.from_dict(data=LMM, orient='index').sort_values(by=0, ascending=False).head()

                          0
american       7.538965e-09
mediterranean  4.772539e-09
french         3.858373e-10
italian        3.708541e-10
world          3.349944e-10

In [640]:
#Moderate Moderate Moderate
pd.DataFrame.from_dict(data=MMM, orient='index').sort_values(by=0, ascending=False).head()

                          0
american       1.032298e-08
mediterranean  6.974687e-09
italian        5.656398e-10
french         4.751779e-10
chinese        1.799770e-10

In [645]:
#High Moderate High
pd.DataFrame.from_dict(data=HMH, orient='index').sort_values(by=0, ascending=False).head()

                          0
american       1.488184e-08
mediterranean  9.250844e-09
italian        8.826769e-10
french         7.571076e-10
world          2.157634e-10

In [648]:
#Moderate Moderate Low
pd.DataFrame.from_dict(data=MML, orient='index').sort_values(by=0, ascending=False).head()

                          0
american       9.909903e-09
mediterranean  6.364602e-09
italian        5.223242e-10
french         4.918729e-10
world          3.511563e-10

In [651]:
#High High Moderate
pd.DataFrame.from_dict(data=HHM, orient='index').sort_values(by=0, ascending=False).head()

                          0
american       1.162567e-08
mediterranean  7.416494e-09
italian        8.325689e-10
french         5.542918e-10
nordic         3.415840e-10